<div id="contribution" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Contribution</h2>
      </div>

      <p>All contributions are much welcome and appreciated!</p>

      <p>
        Before submitting a patch, make sure to write a test for it (if
        possible). Ecukes is tested with a testing framework called Ert (Emacs Lisp
        Regression Testing).
      </p>

      <p>
        To run the tests, you have to
        install <a href="https://github.com/rejeep/cask.el">Cask</a> if you
        haven't already. Once installed, run the <strong>cask</strong>
        command to install all dependencies.
      </p>

      <p>
        To run all test, simply run the <strong>make</strong> command.
      </p>

      <p>
        You can always report issues
        on <a href="http://github.com/rejeep/ecukes/issues">Github</a>
        if you're not up to fixing it yourself.
      </p>
    </div>
  </div>
</div>
