<div id="hooks" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Hooks</h2>
      </div>

      <p>
        Ecukes provides four different hooks
      </p>

      <h3>Setup</h3>
      <p>Runs once before anything runs.</p>
      <pre><code>(Setup
 ;; Run code
 )</code></pre>

      <h3>Before</h3>
      <p>Runs once before each step runs.</p>
      <pre><code>(Before
 ;; Run code
 )</code></pre>

      <h3>After</h3>
      <p>Runs once after each step runs.</p>
      <pre><code>(After
 ;; Run code
 )</code></pre>

      <h3>Teardown</h3>
      <p>Runs once when everything is done.</p>
      <pre><code>(Teardown
 ;; Run code
 )</code></pre>

      <p>
        Hooks are useful if you test your program and change the state in some
        feature. Since all scenarios execute in the same environment, the
        state change will affect all scenarios after. You can solve that by
        resetting the state in a before or after hook.
      </p>

      <p>
        Hooks should be placed in any file in the
        project <strong>features/support</strong> directory.
      </p>
    </div>
  </div>
</div>
