<div id="projects" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Projects using Ecukes</h2>
      </div>

      <ul>
        <li><a href="https://github.com/rejeep/drag-stuff">Drag Stuff</a></li>
        <li><a href="https://github.com/rejeep/wrap-region">Wrap Region</a></li>
        <li><a href="https://github.com/rejeep/html-script-src">Html Script Src</a></li>
        <li><a href="https://github.com/rejeep/enclose">Enclose</a></li>
        <li><a href="https://github.com/rejeep/ruby-end">Ruby End</a></li>
        <li><a href="https://github.com/rejeep/ruby-tools">Ruby Tools</a></li>
        <li><a href="https://github.com/magnars/expand-region.el">Expand Region</a></li>
        <li><a href="https://github.com/magnars/buster-mode">Buster Mode</a></li>
        <li><a href="https://github.com/magnars/multiple-cursors.el">Multiple Cursors</a></li>
        <li><a href="https://github.com/magnars/js2-refactor.el">JS2 Refactor</a></li>
        <li><a href="https://github.com/echosa/emacs-kill-lines">Kill Lines</a></li>
        <li><a href="https://github.com/magnars/multifiles.el">Multifiles</a></li>
      </ul>
      
      <p>And more...</p>
    </div>
  </div>
</div>
