<div id="steps" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Steps</h2>
      </div>

      <p>
        There are three different kind of
        steps: <strong>Regular</strong>, <strong>Table</strong>
        and <strong>Py string</strong>.
      </p>

      <h3>Regular Step</h3>

      <p>
        A regular step always only consumes one line. The most basic step
        looks like this:
      </p>

      <code>Given a known state</code>

      <p>Corresponding step definition:</p>

      <pre><code>(Given "a known state"
       (lambda ()
         ;; Do something
         ))</code></pre>

      <p>
        The second argument could also have been the symbol of a function
        name:
      </p>

      <pre><code>(Given "a known state" 'do-something)</code></pre>

      <p>
        Steps can take arbitrary many arguments. The arguments sent to the
        step definition function are all regular expression match groupings
        from the matching of the step name and the match string.
      </p>

      <p>Single argument:</p>

      <pre><code>Given I am in buffer "buffer-name"</code></pre>

      <p>Corresponding step definition:</p>
      <pre><code>(Given "I am in buffer \"\\(.+\\)\""
       (lambda (buffer-nane)
         ;; Do something with buffer
         ))</code></pre>

      <p>Multiple arguments:</p>

      <pre><code>Given I am in buffer "buffer-name" with text "Foo"</code></pre>

      <p>Corresponding step definition:</p>
      <pre><code>(Given "I am in buffer \"\\(.+\\)\" with text \"\\(.+\\)\""
       (lambda (buffer text)
         ;; Do something with buffer and text
         ))</code></pre>


      <h3>Table Step</h3>

      <p>A table step looks like this:</p>

      <pre><code>Given these meals:
  | meal      | price |
  | Hamburger | $4.50 |
  | Pizza     | $5.30 |</code></pre>

      <p>Corresponding step definition:</p>
      <pre><code>(Given "these meals:"
       (lambda (meals)
         ;; Do something with text
         ))</code></pre>

      <p>
        The argument <strong>meals</strong> is a simple list where
        the <strong>car</strong> of the list is the header and
        the <strong>cdr</strong> or the list is the rows.
      </p>

      <p>The header would in the above case be:</p>

      <pre><code>("meal" "price")</code></pre>

      And the rows would be:
      <pre><code>(("Hamburger" "$4.50")
 ("Pizza" "$5.30"))</code></pre>

      <p>To pick out the header and rows attribute from a table you do:</p>

      <pre><code>(let* ((table ...)
       (header (car table))
       (rows   (cdr table)))
  ;; Do something with header and rows
  )</code></pre>

      <p>
        It is also possible to send arguments to a table step. The table
        list will be the last argument.
      </p>

      <pre><code>Given these meals at "fast food":
  | meal      | price |
  | Hamburger | $4.50 |
  | Pizza     | $5.30 |</code></pre>

      <p>Corresponding step definition:</p>

      <pre><code>(Given "these meals at \"\\(.+\\)\":"
       (lambda (restaurant meals)
         ;; Do something with restaurant and meals
         ))</code></pre>

      <h3>Py-string Step</h3>

      <p>A Py-String (or Python string) step looks like this:</p>

      <pre><code>Given the following text:
  """
  some text
  """</code></pre>

      <p>Corresponding step definition:</p>

      <pre><code>(Given "the following text:"
       (lambda (text)
         ;; Do something with text
         ))</code></pre>

      <p>
        It is also possible to send arguments to a Py-string step. The
        Py-string will be the last argument.
      </p>

      <pre><code>Given the following text in buffer "buffer-name":
  """
  some text
  """</code></pre>

      <p>Corresponding step definition:</p>

      <pre><code>(Given "the following text in buffer \"\\(.+\\)\":"
       (lambda (buffer text)
         ;; Do something with buffer and text
         ))</code></pre>

      <h3>Calling steps from steps</h3>

      <p>
        In order to keep your steps <strong>DRY</strong>, you can call steps
        from other steps like this:
      </p>

      <pre><code>(Given "I go to a"
       (lambda ()
         ;; Go to a
         ))

(Given "I go to b"
       (lambda ()
         ;; Go to b
         ))

(Given "I go from a to b"
       (lambda ()
         (Given "I go to a")
         (Given "I go to b")))</code></pre>

      <p>You can also pass arguments when calling other steps, like this:</p>
      <pre><code>(Given "I am in buffer \"%s\"" buffer-name-variable)</code></pre>
      <p>Or like this:</p>
      <pre><code>(Given "I am in buffer \"buffer-name\"")</code></pre>
    </div>
  </div>
</div>
