<div id="usage" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Usage</h2>
      </div>

      <p>
        When you have the <strong>ecukes</strong> binary available, you can
        create the Ecukes files for an Emacs project. Lets say you have a
        project called <strong>super-duper</strong> that you want to test
        with Ecukes.
      </p>

      <pre><code>$ cd /path/to/your/emacs/project
$ ecukes --new</code></pre>

      Ecukes creates the <strong>features</strong> directory with these files:

      <pre><code>$ ls super-duper

  super-duper/
  |-- README
  |-- features
  |   |-- step-definitions
  |   |   `-- super-duper-steps.el
  |   |-- super-duper.feature
  |   `-- support
  |       `-- env.el
  `-- super-duper.el</code></pre>

      <p>
        Files in the <strong>support</strong> directory will be loaded
        (<strong>env.el</strong> first, then the rest) each time Ecukes
        run. All files that ends with <strong>-steps.el</strong> in
        the <strong>step-definitions</strong> directory will be loaded as
        step definitions.
      </p>

      <p>You can run the features in a few different ways.</p>

      <ul>
        <li>Run all features in batch mode <strong>ecukes features</strong></li>
        <li>Run all features in graphical mode <strong>ecukes --graphical features</strong></li>
        <li>Run specific feature in batch mode <strong>ecukes features/project.feature</strong></li>

        <li>Run specific features in graphical mode <strong>ecukes --graphical features/awesome-*.feature</strong></li>
      </ul>
    </div>
  </div>
</div>
