<div id="usage" class="section">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h2>Usage</h2>
      </div>
      
      <p>This is the Ecukes usage information:</p>
      
      <pre><code>USAGE: ecukes [--script|--win] [file|dir] [options]

OPTIONS:
 -h, --help             Display this help message
 --script               Run Ecukes as a script/batch job
 --win                  Run Ecukes with full GUI window
 --new                  Create new Ecukes setup for project
 --list-steps           Print all available steps defined for this project.
 --with-doc             Include docstring when printing steps with --list-steps.
 --with-file            Include file name when printing steps with --list-steps.
 --verbose              Show `message' output
 --dbg                  Run in debug mode (enable as much debug options in Emacs as possible)
 --tags TAG_EXPRESSION  Only execute the scenarios with tags matching TAG_EXPRESSION.
                        TAG_EXPRESSION Examples: --tags @dev, --tags @dev,~@local
                        A tag starting with ~ excluded from the scenarios.</code></pre>

      <p>
        Let's say you have a project
        called <strong>super-duper</strong> that you want to test with
        Ecukes.
      </p>
      
      <p>First, create all boilerplate files:</p>

      <pre><code>$ carton exec ecukes --new
create features
create   step-definition
create     super-duper-steps.el
create   support
create     env.el
create   super-duper.feature</code></pre>

      <p>The project will now look like this:</p>

      <pre><code>$ ls super-duper

  super-duper/
  |-- README
  |-- features
  |   |-- step-definitions
  |   |   `-- super-duper-steps.el
  |   |-- super-duper.feature
  |   `-- support
  |       `-- env.el
  `-- super-duper.el</code></pre>

      <p>
        Files in the <strong>support</strong> directory will be loaded
        (<strong>env.el</strong> first, then the rest) each time Ecukes
        run. All files that ends with <strong>-steps.el</strong> in
        the <strong>step-definitions</strong> directory will be loaded as
        step definitions.
      </p>

      <h3>Modes</h3>

      <p>Ecukes can run in a few different modes.</p>
      
      <h4>No win (default)</h4>
      <p>
        Running with no win is the default way to run features. In
        this mode, Ecukes will run Emacs with the <strong>-nw</strong>
        option.
      </p>
      
      <p>Example:</p>
      <pre><code>$ carton exec ecukes features</code></pre>
      
      <h4>Win</h4>
      <p>
        This will start up an Emacs window and run the features. To
        use this mode, specify <strong>--win</strong> as first option
        to <strong>ecukes</strong>.
      </p>
      
      <p>Example:</p>
      <pre><code>$ carton exec ecukes --win features</code></pre>
      
      <h4>Script</h4>
      <p>
        This will run the features as a batch job. This mode has a few
        quirks and is only recommended as a way to run the features
        fast.
      </p>
      
      <p>Example:</p>
      <pre><code>$ carton exec ecukes --script features</code></pre>
      
      <h4>Inline</h4>
      <p>
        You can also run features directly in your current Emacs
        session. To to that, make sure Ecukes and its dependencies are
        available in your <strong>load-path</strong>. If you are using
        Carton for your Emacs setup, simply
        add <strong>ecukes</strong> as a dependency and you are
        set. Then require ecukes.
      </p>
      
      <pre><code>(require 'ecukes)</code></pre>
      
      <p>
        To run features, visit a file in your project and run
        the <strong>ecukes</strong> function.
      </p>
      
      <pre><code>M-x ecukes</code></pre>

      <h3>Examples</h3>
      <p>Here are a few ways to run Ecukes:</p>

      <p>Create boilerplate files for current project.</p>
      <pre><code>$ carton exec ecukes --new</code></pre>
      
      <p>Show usage information.</p>
      <pre><code>$ carton exec ecukes --help</code></pre>
      
      <p>Run all features in no win mode.</p>
      <pre><code>$ carton exec ecukes</code></pre>

      <p>Run all features in win mode.</p>
      <pre><code>$ carton exec ecukes --win features</code></pre>

      <p>Run all features in script mode.</p>
      <pre><code>$ carton exec ecukes --script</code></pre>

      <p>Run one feature in no win mode.</p>
      <pre><code>$ carton exec ecukes features/super-duper.feature</code></pre>

      <p>Run one feature in win mode with verbose output.</p>
      <pre><code>$ carton exec ecukes --win features/super-duper.feature --verbose</code></pre>

      <p>Run all scenarios tagged with <strong>@super</strong> in script mode with debug.</p>
      <pre><code>$ carton exec ecukes --script features/super-duper.feature --dbg --tags @super</code></pre>

      <p>Run all scenarios not tagged with <strong>@duper</strong>.</p>
      <pre><code>$ carton exec ecukes features/super-duper.feature --tags ~@duper</code></pre>
      
      <p>Run all features in no win mode. Use Emacs binary installed via Homebrew.</p>
      <pre><code>ECUKES_EMACS="/usr/local/Cellar/emacs/24.2/Emacs.app/Contents/MacOS/Emacs" carton exec ~/Code/ecukes/ecukes</code></pre>
    </div>
  </div>
</div>
