#intro {
  position: fixed;
  background: #748C73;
  width: 100%;
  padding: 20px 0;
}

#sections {
  position: absolute;
  background: #90A38F;
  width: 100%;
}

.section {
  margin: 40px 0;
}

.navbar a.brand {
  margin-left: 0;
}

.navbar .nav > li > a:first-child {
  margin-left: 0;
  padding-left: 0;
}

pre {
  margin: 20px 0;
}