body {
  font-family: Lucida Console, Monaco5, monospace;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #464646;
}

#container {
  margin: 20px auto;
  width: 940px;
  border-radius: 15px;
  border: 1px #d2d2d2 solid;
  background: white;
  padding: 20px;
}

#header {
  color: #37ae44;
}

#header h1 {
  font-size: 82px;
  margin: 0;
  line-height: 62px;
}

#header span.slogan {
  font-size: 26px;
}

h2 {
  color: #464646;
  font-size: 18px;
  margin-top: 30px;
  padding-bottom: 6px;
  border-bottom: 1px #d2d2d2 solid;
}

h3 {
  color: #464646;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 24px;
}

code {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px #d2d2d2 solid;
  background: #fafafa;
  padding: 10px;
  margin-bottom: 30px;
}

code.example ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code.example .command {
  margin-bottom: 15px;
}

code.example .command .user {
  color: #d6514d;
}

code.example .feature .header ul {
  margin-left: 15px;
}

code.example .feature .header {
  margin-bottom: 15px;
}

code.example .feature .background {
  margin-bottom: 15px;
}

code.example .feature .background ul {
  margin-left: 15px;
}

code.example .feature .background ul li {
  color: #37ae44;
}

code.example .feature .scenario {
  margin-bottom: 15px;
}

code.example .feature .scenario ul {
  margin-left: 15px;
}

code.example .feature .scenario li {
  color: #37ae44;
}

code.example .stats .failed {
  color: #d6514d;
}

code.example .stats .succeded {
  color: #37ae44;
}

a {
  color: #37ae44;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  margin: 0 2px;
  padding: 2px 5px;
  white-space: nowrap;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
