<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />

    <link href="http://feeds.feedburner.com/ecukes" rel="alternate" title="Ecukes" type="application/atom+xml" />
  </head>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-15650304-1");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <body>
    <div id="container">
      {{ content }}
    </div>

    <a href="http://github.com/rejeep/ecukes">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" />
    </a>
  </body>
</html>
